-if logged_in?
  =render 'shared/nav'
-else
  =render 'shared/generic_nav'
%main.business
  %section.clearfix
    %h2
      =@business.name.titleize
    -if logged_in?
      =link_to new_business_review_path(@business), { class: 'btn btn-danger'} do
        =fa_icon 'star'
        Write A Review
  %section
    %ul.business
      %li
        %div.rating
          %div.rating-box
            %div.rating{ style: 'width: 50%' }
          %span
            5 reviews
      %li
        %div.tags
          =create_price_tag(@business.price)
          %span.middot &middot
          -if @business.tags
            -tags = create_tags(@business.tags)
            -tags.each_with_index do |tag, index|
              =link_to tag, '#'
              -if index < tags.length - 1
                %span.middot &middot
      -if logged_in?
        %li
          %a{href: '#'}
            =fa_icon 'pencil'
            Edit This business
      %li
        =fa_icon 'phone'
        =@business.phone
      %li
        =fa_icon 'map-marker'
        #{@business.city.capitalize}, #{@business.state.capitalize}
  %section
    %h3
      Reviews for #{@business.name.titleize}
    %ul.user-reviews
      -@reviews.each do |review|
        %li.user-review
          %ul
            %li
              =fa_icon 'user'
            %li
              =link_to "#{format_name(review.creator.first_name, review.creator.last_name)}", user_path(review.creator.id)
              #{review.creator.city.capitalize}, #{review.creator.state.capitalize}
              =fa_icon 'building'
              %span 3
              =fa_icon 'star'
              %span 4
            -if same_user?(review.creator)
              %li.edit-review
                =link_to edit_business_review_path(@business, review) do
                  =fa_icon 'pencil'
                  Edit Review
          %ul
            %li
              %div.rating
                %div.rating-box
                  %div.rating{ style: "width: #{review.rating * 20}%" }
                %span 04/21/2019
              -if review.body.length > 400
                %p.truncated
                  =truncate_text(review.body, 400)
                  =link_to 'Read More', nil, {class: 'full-text-link'}
                %p.full-text
                  #{review.body}
                  =link_to 'Read Less', nil, {class: 'show-less-link'}
              -else
                %p
                  =review.body
      %nav{aria: {label: 'pagination'}}
        %ul.pagination
          %li.page-item.disabled
            %a.page-link{href: '#', aria: {label: 'Previous'}}
              %span{ aria: {hidden: true}} &laquo;
              %span.sr-only Previous
          %li.page-item.active
            %a.page-link{href: '#'} 1
          %li.page-item
            %a.page-link{href: '#', aria: {label: 'Next'}}
              %span{aria: {hidden: true}} &raquo;
              %span.sr-only Next
=render 'shared/footer'
